@import "tailwindcss";
@source "../../../apps/**/src/**/*.{js,jsx,ts,tsx,html,css}"; /* Any app */
@source "../../../packages/**/src/**/*.{js,jsx,ts,tsx,html,css}"; /* Any components in ui package*/

@layer base {
  body {
    overflow: hidden;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  /* Webkit (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 3px; /* Thin width */
    height: 3px; /* For horizontal scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar */
    border-radius: 3px; /* Rounded edges */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent; /* Thumb and track */
  }
}

@theme {
  --color-layout: var(--color-gray-200);
  --color-layout-dark: var(--color-gray-950);

  --color-primary: var(--color-gray-400);
  --color-secondary: var(--color-gray-300);
  --color-info: var(--color-blue-500);
  --color-success: var(--color-green-600);
  --color-warning: var(--color-orange-500);
  --color-error: var(--color-red-600);

  --color-primary-highlight: var(--color-gray-300);
  --color-secondary-highlight: var(--color-gray-200);
  --color-info-highlight: var(--color-blue-400);
  --color-success-highlight: var(--color-green-500);
  --color-warning-highlight: var(--color-orange-400);
  --color-error-highlight: var(--color-red-500);

  --color-disabled: var(--color-gray-300);
}
